@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --green-main: #33B08C;
    --green-accent: #CCDEA0;
    --blue-accent: #152547;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*NAVBAR*/
nav {
    background: var(--green-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
nav > div {
    margin: auto;
}

/*alert*/
.alert-danger {
    z-index: 200;
    position: fixed;
    width: 15rem;
    left: 0;
    right: 0;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

/*nav-left-side*/
.nav-left-side, .nav-right-side {
    margin-left: 5rem;
    margin-right: 5rem;
}
.nav-left-side img {
    height: 4.5rem;
    width: auto;
}

/*nav-mid-side*/
.nav-mid-side {
    margin-top: 1.45rem;
    font-size: 0.9rem;
}
.nav-mid-side ul{
    display: flex;
    gap: 2rem;
}
.nav-mid-side li{
    list-style: none;
}
.nav-mid-side a {
    color: var(--white);
    display: inline-block;
    text-decoration: none;
}
.nav-mid-side a:hover {
}
.nav-mid-side a::after{
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid var(--white);
    transform: scaleX(0);
    transition: 0.15s linear;
}
.nav-mid-side a:hover::after {
    transform: scaleX(0.6);
}

/*nav-right-side*/
#toggle {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    background: var(--white);
    transition: 0.5s;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
    cursor:pointer;
}
#toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: var(--blue-accent);
    border-radius: 100%;
    transform: scale(1);
    transition: 0.5s;
}

/*Dark Mode*/

#toggle.active .indicator {
    background: var(--white);
    left: 1rem;
}
#toggle.active {
    background: var(--blue-accent);
}
body.active {

}

/*Media Queries*/
@media (max-width: 450px) {
    .nav-left-side, .nav-right-side {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}